body.album {
    background-image: url(../assets/images/blurred_backgrounds/blur_bg_3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.album-cover-art {
    position: relative;
    left: 20%;
    margin-top: 1rem;
    width: 60%;
}

.album-view-details {
    position: relative;
    top: 1.5rem;
    padding: 1rem;
}

.album-view-details .album-view-title {
    font-weight: 300;
    font-size: 2rem;
}

.album-view-details .album-view-artist {
    font-weight: 300;
    font-size: 1.5rem;
}

.album-view-details .album-view-release-info {
    font-weight: 300;
    font-size: 0.75rem;
}

.album-song-list-container {
  background-color: rgba(255, 255, 255, .5);
  padding-bottom:2rem;
  width: 90%;
  margin:auto;
}

.album-view-song-list {
     margin: 1.5rem auto;
     font-weight: 300;
     font-size: 0.75em;
     border-collapse: collapse;
     color: #3c0a39;
 }

 .album-view-list-header {
   text-align: left;
   font-weight: bold;
 }

.album-view-list-header th{
  padding-top:2rem;
}

 .album-view-song-item {
     height: 3rem;
     border-bottom: 1px solid rgba(255,255,255,0.5);
 }

 .song-item-number {
     width: 15%;
 }

 .song-item-title {
     width: 60%;
 }

 .song-item-duration {
     width: 20%;
 }

 .song-item-plays {
   width: 5%;
 }

 @media (max-width: 640px) and (min-width: 320px) {
    .album-view-details {
        text-align: center;
    }

    .album-view-title {
        margin-top: 0;
    }
}

@media (max-width: 1024px) and (min-width: 320px) {
   .album-view-song-list {
        position: relative;
        top: 1rem;
        width: 80%;
        margin: auto;
    }
}
